{% extends "base.html" %}

{% block title %}
Balance Report
{% endblock %}

{% block styles %}
    .graph-container {
        border: 1px solid #ccc;
        padding: 10px;
    }
{% endblock %}

{% block message %}
<div class="container fixed-top" style="z-index: 100; margin-top: 60px;">
    <div class="position-relative">
        <div class="position-absolute w-100">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flashes">
                        {% for message in messages %}
                            <li class="alert alert-info alert-dismissible fade show">
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                {{ message }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="content">
<div style="position: relative; z-index: 0;">
    <div class="container mt-4">
        <h1>Welcome {{username}}, Product Sales Report.</h1>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Display the line chart within the bordered container -->
                <div class="graph-container">
                    <p>X-Axis: Date-Time</p>
                    <p>Y-Axis: Quantity</p>
                    <p>Plot: Product-Name</p>
                    {{ graph_html | safe }}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script>
    // Wait for the DOM to load
    document.addEventListener("DOMContentLoaded", function() {
        var flashMessages = document.querySelectorAll(".alert.alert-info");

        // Loop through each flash message and set a timeout to remove it
        flashMessages.forEach(function(flashMessage) {
            setTimeout(function() {
                flashMessage.style.opacity = "0"; // Fade out
                setTimeout(function() {
                    flashMessage.style.display = "none"; // Hide
                }, 500); // Wait for the fade-out animation to finish
            }, 3000); // Set timeout for 3 seconds (3000 milliseconds)
        });
    });
</script>
{% endblock %}
