<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Location</title>
    <style>
        body {
     margin: auto;
     width: 640px;
     padding: 50px;
     font-family: 'Avenir', sans-serif;
     color: #33475b;
}
 img{
     padding: 50px;
}
    </style>
</head>
<body align="center">
<h3>You still have unfinished pages in this project !</h3>
<img src="static/gatto.jpeg" height="400px" width="400px" alt="You still have unfinished pages in this project !">
<br>
<br>
<br>
<br>
<br>
<br>
<img src="static/dog.jpg" height="400px" width="400px" alt="You still have unfinished pages in this project !">
</body>
</html>
