{% extends "base.html" %}

{% block title %}
Products
{% endblock %}

{% block styles %}
.content{
font-family: monospace;
}
{% endblock %}

{% block message %}
<div class="container fixed-top" style="z-index: 100; margin-top: 60px;">
    <div class="position-relative">
        <div class="position-absolute w-100">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flashes">
                        {% for message in messages %}
                            <li class="alert alert-info alert-dismissible fade show">
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                {{ message }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="content">
<div style="position: relative; z-index: 0;">
    <div class="container mt-4">
        <h1>Welcome {{username}}, All the products available are listed here. </h1>
    </div>
    <hr>
    <section class="mb-4 content-container">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Product ID</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Price per unit</th>
                        <th>Location</th>
                        <th>Date added</th>
                        <th>Date updated</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.product_id }}</td>
                            <td>{{ product.product }}</td>
                            <td>{{ product.quantity }}</td>
                            <td>${{ product.price }}</td>
                            <td>{{ product.location }}</td>
                            <td>{{ product.date_added }}</td>
                            <td>{{ product.date_updated }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
